# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so


# PyInstaller
*.spec

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editor folders
.idea/
.vscode/
*.swp
*.swo
*~

# Secrets
*.env
.env.*
secrets.toml

# Other
.DS_Store


.ipynb_checkpoints/


